/* Title */
.title {
  margin-top: 30px;
  text-align: center;
  font-size: 36px;
  color: #333;
}

/* Product Grid Container */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three items in one row */
  gap: 20px; /* Add some spacing between products */
  justify-content: center; /* Center the grid horizontally */
  padding: 20px;
  
}

/* Product Card */
.product {
  border-radius: 15px;
  width: 300px;
  height: auto; /* Allow the height to adjust to content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between image and description */
  align-items: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product img {
  max-width: 100%;
  border-radius: 15px 15px 0 0; /* Rounded corners for the top of the image */
}

.product .description {
  text-align: center;
  padding: 10px;
}

/* Hover Effect */
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Add to Cart Button */
.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 10px 20px; /* Balanced padding */
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
